.p-5{
    width: 600px;
    text-align: center;
    margin: 20px auto 0px auto;
    border-radius: 3px;
}
.selecionado {
    background-color: blanchedalmond;
}
.form-control{
    margin-bottom: 2px;
}
form{
    margin-block-end: 0px;
}
.alert{
    padding: 6px;
    margin-bottom: 2px;
}
a{
    text-decoration: none;
    color: #000000;
}